@import "src/assets/styles/bootstrap";
@import "../location/map_list";

.pkt-pokemon-view-encounters {
    column-width: 23rem;
    column-fill: balance;
    column-gap: 1.25rem;

    .card {
        break-inside: avoid;
    }

    .pkt-pokemon-view-encounters-area {
        text-align: center;
    }
}
