svg.pkt-nature-view-battlestyleprefs {

    // Attack
    rect.pkt-gauge-value-0 {
        fill: #C92112;
    }

    // Defense
    rect.pkt-gauge-value-1 {
        fill: #4F5870;
    }

    // Support
    rect.pkt-gauge-value-2 {
        fill: #8C888C;
    }
}
