@import "src/assets/styles/bootstrap";

$gauge-colors: (
    $blue,
    $purple,
    $pink,
    $red,
    $orange,
    $yellow,
    $green,
    $teal,
    $cyan,
);

div.pkt-gauge-labeled {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .pkt-gauge-label {
        @extend .ml-1;
    }
}
