svg.pkt-map {
    height: 20rem;
    width: auto;

    .modal & {
        width: 100%;
    }
}

g.pkt-map-overlay {
    fill: red;
    fill-opacity: 0.5;
    stroke: red;
    stroke-width: 1%;

    // Flashing animation
    @keyframes fadeInOut {
        from {
            fill-opacity: 0.2;
            stroke-opacity: 0.5;
        }
        to {
            fill-opacity: 0.8;
            stroke-opacity: 0.9;
        }
    }
    animation-duration: 1.5s;
    animation-name: fadeInOut;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
