.pkt-navbar-main {
    img {
        height: $navbar-brand-height;
    }

    .pkt-logo {
        @extend .p-0;
        height: $navbar-brand-height;
    }

    .btn {
        background-color: $gray-100;
    }

    .nav-item {
        &, .nav-link {
            color: rgba(255, 255, 255, 0.75);
        }

        .dropdown-item.nav-link {
            color: $dropdown-link-color;
        }
    }

    .pkt-form-search {
        @extend .ml-auto;
        @extend .my-2;
        @extend .my-lg-0;

        .pkt-form-search-query {
            @extend .mr-sm-2;
        }

        .pkt-form-search-submit {
            @extend .btn-outline-info;
            @extend .my-2;
            @extend .my-sm-0;
        }
    }
}

footer {
    @extend .mt-auto;
}
