@import "bootstrap";

svg.pkt-gauge {
    $gauge-colors: (
        $blue,
        $purple,
        $pink,
        $red,
        $orange,
        $yellow,
        $green,
        $teal,
        $cyan,
    );

    &-linear {
        $height: 1em;

        height: $height;

        rect {
            height: $height;

            @for $index from 1 through length($gauge-colors) {
                &.pkt-gauge-value-#{$index - 1} {
                    $color: nth($gauge-colors, $index);
                    fill: $color;
                }
            }

            &.pkt-gauge-empty {
                fill: $gray-300;
            }
        }
    }

    &-radial {
        width: 1.5rem;
        height: 1.5rem;

        circle, path {
            fill: none;
            stroke-width: 90;

            @for $index from 1 through length($gauge-colors) {
                &.pkt-gauge-value-#{$index - 1} {
                    $color: nth($gauge-colors, $index);
                    stroke: $color;
                }
            }

            &.pkt-gauge-empty {
                stroke: $gray-300;
            }
        }
    }
}

div.pkt-gauge-labeled {
    @extend .d-flex;
    @extend .justify-content-start;
    @extend .align-items-center;

    .pkt-gauge-label {
        @extend .ml-1;
    }
}
