@import "bootstrap";
@import "map_list";

.pkt-location-index-map {
    g.pkt-map-overlay {
        fill: $gray-900;
        fill-opacity: 0.2;
        stroke-opacity: 1;
        stroke: red;
        stroke-width: 1%;
        animation: none;

        &:hover {
            fill: red;
            fill-opacity: 0.5;
        }
    }
}

ul.pkt-location-index-list {
    column-width: 12em;
    column-fill: balance;
    column-gap: 1.25rem;

    ul {
        padding-inline-start: 1em;
    }
}
