@import "bootstrap";

.pkt-pokemon-view-numbers {
    @extend .list-inline;

    li {
        @extend .list-inline-item;

        .pkt-pokemon-view-numbers-dex {
            font-weight: bold;

            &::after {
                content: ':';
            }
        }

        .pkt-pokemon-view-numbers-number {
            &::before {
                content: '#';
            }
        }
    }
}

.pkt-pokemon-view-genus {
    font-style: italic;
}

.pkt-pokemon-view-genus + .pkt-pokemon-view-flavortext {
    &::before {
        content: ': ';
    }
}

.pkt-pokemon-view-stats {
    .pkt-infolist-value {
        @extend .d-flex;
        @extend .justify-content-between;

        & > * {
            @extend .mx-1;
        }

        .pkt-pokemon-view-stats-basevalue {
            @extend .ml-0;
            // Setting a width here allows the values to all line up.
            min-width: 2rem;
        }

        .pkt-pokemon-view-stats-percentile-gauge {
            .pkt-gauge-value-0 {
                fill: $secondary
            }
        }

        .pkt-pokemon-view-stats-percentile-value {
            @extend .text-nowrap;
            @extend .mr-0;
        }
    }
}

.pkt-pokemon-view-gender {
    .pkt-gauge-linear {
        @extend .mr-1;

        .pkt-gauge-value-0 {
            fill: $blue;
        }

        .pkt-gauge-value-1 {
            fill: $pink;
        }
    }
}

.pkt-pokemon-view-pokeathlon {
    &-base {
        color: map_get($theme-colors, 'primary');
    }

    &-range {
        color: $body-color;
    }
}

.pkt-pokemon-view-moves-stab {
    background-color: lighten(map_get($theme-colors, 'success'), 50%);
}
