@import "bootstrap";

table.pkt-type-chart-matchup {
    @extend .table-sm;

    font-size: $font-size-sm;
    text-align: center;

    &-vertical {
        width: auto;

        .pkt-type-chart-type {
            text-align: right;
        }

        .pkt-type-chart-efficacy {
            text-align: left;
        }
    }
}
