@import "bootstrap";

// Colors
$color-type: (
    normal: #9B9B6B,
    fighting: #903028,
    flying: #A890F0,
    poison: #A040A0,
    ground: #E0C068,
    rock: #B8A038,
    bug: #A8B820,
    ghost: #705898,
    steel: #8D8DA5,
    fire: #F05030,
    water: #6890F0,
    grass: #78C850,
    electric: #F8D030,
    psychic: #F85888,
    ice: #98D8D8,
    dragon: #7038F8,
    dark: #705848,
    fairy: #F8A0E0,
    unknown: #68A090,
    shadow: #403246,
    beauty: #6890F0,
    cool: #F05030,
    cute: #F85888,
    smart: #78C850,
    tough: #F8D030,
);

$color-efficacy: (
    0: $black,
    25: $pink,
    50: $red,
    100: $gray-500,
    200: $green,
    400: $teal,
);

// If the background lightness is beyond this threshold, the text color will be dark instead of light.
$darkTextThreshold: 80%;

// Set the text color to contrast well with the background
@function type_text_color($background-color) {
    @if (lightness($background-color) > $darkTextThreshold) {
        @return $gray-700;
    } @else {
        @return $gray-100;
    }
}

.pkt-type-emblem {
    display: inline-block;
    min-width: 3em;
    min-height: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: center;
    font-weight: bold;
    // Reducing the font size slightly allows for the same apparent size while
    // allowing for a small amount of padding to the next line.
    font-size: 92%;
    font-variant-caps: small-caps;
    border-radius: 0.5rem;
}

@each $type in map_keys($color-type) {
    $background: map_get($color-type, $type);
    $text: type_text_color($background);
    .pkt-type-emblem.pkt-type-emblem-#{$type} {
        background-color: $background;
        color: $text;

        .text-muted &, &.text-muted {
            background-color: scale_color($background, $saturation: -50%, $lightness: 50%);
            color: scale_color($text, $lightness: 50%) !important;
        }
    }
}

.pkt-type-efficacy {
    font-weight: bold;
}

@each $efficacy in map_keys($color-efficacy) {
    .pkt-type-efficacy.pkt-type-efficacy-#{$efficacy} {
        color: map_get($color-efficacy, $efficacy);
    }
}
