@import "src/assets/styles/bootstrap";

.pkt-type-index-typechart {
    @extend .table-sm;
    @extend .table-bordered;

    font-size: $font-size-sm;

    .pkt-type-index-typechart-attacking {
        text-align: right;
    }

    .pkt-type-index-typechart-sametype {
        background-color: $gray-200;
    }

    .pkt-hover {
        background-color: $gray-300 !important;
    }
}
